*~
*.swp
*.o
Makefile
Makefile.in
.cache
.deps
/aclocal.m4
/autom4te.cache
/build
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/tags
/src/plux
/stamp-h1
/stdlib/stdlib_builtins.hh
